
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <img src="/images/0001.png" class="img-fluid" alt="Responsive image" height="60px" width="60px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                
                <a class="nav-link" href="/login/logout" style="color: red;">Cerrar Sesión <span class="sr-only">(current)</span></a>
            </li>
 

        </ul>
        <form class="form-inline my-2 my-lg-0">
        
        </form>
    </div>
</nav>
<center><h4>Cartilla de Profesionales</h4></center>

<table class="table table-sm table-dark" style="text-align: center">
  <thead>
    <tr>
      <th scope="col">Profesional</th>
      <th scope="col">Especialidad</th>
      <th scope="col">Solicitar Turno</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
        <td>Carlos Muelita</td>
        <td>Endodoncia</td>
        <td><a class="btn btn-primary" href="" role="button">Solicitar</a></td>
    </tr>
     <tr>
        <td>Jose Amalgama</td>
        <td>Odontologia General</td>
        <td><a class="btn btn-primary" href="" role="button">Solicitar</a></td>
    </tr>
    <tr>
        <td>Pedro Corona</td>
        <td>Cirugia Maxilofacial</td>
        <td><a class="btn btn-primary" href="" role="button">Solicitar</a></td>
    </tr>
    <tr>
        <td>Josefina Flemon</td>
        <td>Periodoncia</td>
        <td><a class="btn btn-primary" href="" role="button">Solicitar</a></td>
    </tr>
  </tbody>
</table>
<!--Script!-->
<script src="javascripts/vendor/jquery.min.js"></script>
	<script src="javascripts/vendor/bootstrap.min.js"></script>
