{{title}}

<div class="container">
    <div class="row justify-content-center" style="padding-top: 200px;">
        
<div class="col-6">
    <form action="/registro" method="post">
    {{!-- usuario, password --}}
    <input type="text" name="usuario" class="form-control" placeholder="usuario de la mejor peluqueria" required>
    <input type="password" name="password" placeholder="*****" class="form-control mt-3" required>


    <button type="submit" class="btn btn-primary mt-3 btn-outline btn-block">Registrate</button>
    {{mensaje}}

</form>

</div>

</div>

</div>    